.woocommerce div.summary p.price {
	color: #6AC3D5;
	font-weight: bold;
}

.woocommerce div.summary p.out-of-stock {
	color: #FF6865;
	font-style: italic;
}

.woocommerce div.product_meta {
	color: #6AC3D5;
	display: none;
}

.woocommerce div.product div.images img {
	width: 50%;
	height: auto;
	padding-left: 20%;
}

.footer {
	color: #6AC3D5;
}