.woocommerce div.summary p.price {
	color: #6AC3D5;
	font-weight: bold;
}

.woocommerce div.summary p.out-of-stock {
	color: #FF6865;
	font-style: italic;
}

.woocommerce div.product_meta {
	color: #6AC3D5;
	display: none;
}

.woocommerce div.product div.images img {
	width: 50%;
	height: auto;
	padding-left: 20%;
}

.woocommerce .btn {
	background-color: #6AC3D5;
	color:white;
}
	
.woocommerce .btn:hover {
filter: brightness(85%);
}

.woocommerce .product-name a {
	color: #000;
}


.footer {
	color: #6AC3D5;
}

.woocommerce ul.products li.product a img {
    width: 300px;
}
.woocommerce-breadcrumb {
	display:none;
}
h2	{
	color: #02cdcf;
}
.woocommerce-loop-product__title {
	color:#000;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	display:none;
}
.woocommerce-Tabs-panel > h2 {
    display: none;
}
