.navbar-expand-md .navbar-nav .nav-link {
    font-family: $headings-font-family;
    font-size: 2em;
    font-weight: 700;
    color: #6AC3D5;
  }
  
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

#navbarNavDropdown .nav-link:hover {
  color: #FF6865;
}


  .gin-bottle {
      // animation: loader 1.25s 1;
      width: 100vw;
      // height: 50%;
      display:flex;
      justify-content: center;
      align-items:center;
      // transition:.5s ease-in-out;
      position: relative;
  }
  
  
  
  .gin-bottle img {
      height: 60vh;
      // rotate: 30deg;
  }
  
  .gin-bottle img:hover {
      // animation: loader 8.25s infinite;
      animation: shake 1.5s;
  }
  
  
  @keyframes loader {
      0% {
        rotate: 0deg;
      }
      50% {
        rotate: 60deg;
      }
      100% {
          rotate: 0deg;
      }
    }
  
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
    //For snowflakes
  
  body, html, canvas{
    width: 100%; height: 100%; position: absolute; margin: 0; padding: 0; background: transparent;
  }
  